body {
    background: linear-gradient(to bottom, white 0%, white 10%, rgba(255,0,0,0) 10%, #78CFC0 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
}

h1 {
    margin: 40px;
    color: #495059;
    font-size: 25px;
}

button, .button {
    border: none;
    cursor: pointer;
    padding: 13px;
    text-decoration: none;
    min-width: 100px;
    border-radius: 10px;

    &.primar {
        background-color: $primary-color;
        color: white;
        margin: 0 20px;

        &.active {
            background-color: darken($primary-color, 40%);
        }
    }

    &.utfor {
        font-weight: bold;
        color: #78CFC0;
        background-color: white;
        border: 1px solid $primary-color;
    }
}

.footer-buttons {
    max-width: 500px;
    margin: 150px auto;

    #prev-button {
        float: left;
    }

    #next-button {
        float: right;
    }
}