.App {
    text-align: center;

    .App-logo {
        height: 30px;
        float: left;
        display: inline;
    }

    .App-header {
        text-align: left;
        background-color: white;
        height: 20px;
        padding: 20px;
        color: white;
        border-bottom: 1px solid #ccc;

        .menu-icon {
            float: right;
            font-size: 24px;
        }

        h1 {
            float: left;
            margin: 4px;
        }
    }

    .App-header a {
        color: $primary-color-b;
        text-decoration: none;
    }

    .App-title {
        font-size: 1em;
    }

    .App-intro {
        font-size: large;
    }

    @keyframes App-logo-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    .menu {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        .menu-item {
            align-items: center;
            color: $primary-color;
            background-color: white;
            border: 1px solid $primary-color;
            border-radius: 6px;
            display: flex;
            font-size: 1.5em;
            color: $primary-color-b;
            margin: 1.5em;
            padding: 0.5em 1.5em 0.5em 0.5em;

            .menu-icon {
                font-size: 2.5em;
                padding: 0.5em;
            }
        }
    }

    .settings-icon {
        font-size: 2.5em;
        padding: 0.5em;
    }
}
